@using AspNetCore.Mvc.CrudSample.Entities
@model TeacherListViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form asp-controller="Teacher" asp-action="New" method="post">
                <button type="submit" class="btn btn-primary">New Teacher</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Id
        </div>
        <div class="col-md-4">
            Name
        </div>
        <div class="col-md-4">
            Actions
        </div>
    </div>

    @foreach(Teacher teacher in Model.Teachers) {
    <div class="row">
        <div class="col-md-4">
            @teacher.Id
        </div>
        <div class="col-md-4">
            @teacher.Name
        </div>
        <div class="col-md-4">
            <a asp-action="Edit" asp-route-id="@teacher.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@teacher.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@teacher.Id">Delete</a>
        </div>
    </div>
    }
</div>