@using AspNetCore.Mvc.CrudSample.Entities
@model CourseListViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form asp-controller="Course" asp-action="New" method="post">
                <button type="submit" class="btn btn-primary">New Course</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Id
        </div>
        <div class="col-md-4">
            Name
        </div>
        <div class="col-md-4">
            Actions
        </div>
    </div>

    @foreach(Course course in Model.Courses) {
    <div class="row">
        <div class="col-md-4">
            @course.Id
        </div>
        <div class="col-md-4">
            @course.Name
        </div>
        <div class="col-md-4">
            <a asp-action="Edit" asp-route-id="@course.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@course.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@course.Id">Delete</a>
        </div>
    </div>
    }
</div>